Max street address length

It's currently limiting street addresses to 30 characters.  But I was never sure if that's a correct limit or not.  RFC5280 has:
StreetAddress ::= PDSParameter

and:
PDSParameter ::= SET {
   printable-string PrintableString
                (SIZE(1..ub-pds-parameter-length)) OPTIONAL,
   teletex-string TeletexString
                (SIZE(1..ub-pds-parameter-length)) OPTIONAL }

and:
ub-pds-parameter-length INTEGER ::= 30

But I think this only applies to the ORAddress of a GeneralName, while it's now checked as part of the Name / RDNSequence / RelativeDistinguishedName.

So I'm not sure it has a specific limit, and we should probably use ub_name instead of the current value of 30.

X.520 says:
"ub-street-address  INTEGER  ::=  128"

I didn't find that earlier because I was only looking at the definition itself, which doesn't have a size limit.  The section you found that in says:
> For historical reasons, this annex includes an example set of upper bound value constraints that might be applied to these Directory Specifications. It is in the form of the ASN.1 module UpperBounds . It is not used by these Directory Specifications, but is maintained for other specifications to import as required.

And I don't see X.509 or rfc5280 importing that.

So I think the only thing that is relevant is rfc5280 having:
X520name ::= DirectoryString (SIZE (1..ub-name))

RFC5280 cites X.509 (2005), which **did** mandate the X.520 upper bounds, as an informative reference.
X.509 (2008) and X.520 (2008), which are **not** relevant to RFC5280, removed the upper bounds for compatibility with LDAP (which does not set upper bounds).
(See https://mailarchive.ietf.org/arch/msg/pkix/RN6M0B_f66rBhD3n0qmvMRKOdpQ)

RFC5280 (and its predecessors RFC3280 and RFC2459) only explicitly sets upper bounds on a subset of the attribute types from X.520.  Street Address is one of the attributes that RFC5280 does **not** even mention.  So what is the maximum length of a Street Address field?  I think that there are two possible correct answers:
  1. Street Address has no upper bound at all.  (RFC5280 only mentions X.520 as an informative reference, so requirements that are only in X.520 are not relevant).
  2. Street Address has an upper bound of ub-street-address.

I'm certain that it is **incorrect** to use ub-name as the upper bound for Street Address, because no specification that I'm aware of, either informative or normative, has ever specified ub-name as the upper bound of a Street Address.

I suggest warning if a Street Address field length exceeds ub-street-address.

Why warning instead of error?

The reason I used ub-name is that rfc5280 limits everything to that as far as I understand.

This is my understanding...

RFC5280 limits only 5 specific DN attribute types to an upper bound of ub-name:
```
-- Naming attributes of type X520name

id-at-name                AttributeType ::= { id-at 41 }
id-at-surname             AttributeType ::= { id-at  4 }
id-at-givenName           AttributeType ::= { id-at 42 }
id-at-initials            AttributeType ::= { id-at 43 }
id-at-generationQualifier AttributeType ::= { id-at 44 }

-- Naming attributes of type X520Name:
--   X520name ::= DirectoryString (SIZE (1..ub-name))
```

RFC5280 also defines upper bounds for various other DN attribute types:
```
ub-common-name INTEGER ::= 64
ub-locality-name INTEGER ::= 128
ub-state-name INTEGER ::= 128
ub-organization-name INTEGER ::= 64
ub-organizational-unit-name INTEGER ::= 64
ub-title INTEGER ::= 64
ub-serial-number INTEGER ::= 64
```

RFC5280 does not define upper bounds for any additional DN attribute types (including streetAddress, postalCode and postOfficeBox), so I think it could be argued that they are unbounded.  However, RFC5280 does reference X.520 (2005) informatively, so to ensure interop it seems safest to use the upper bounds defined by X.520 (2005) for these additional DN attribute types..

All of the "ub-*-length" definitions in RFC5280 only seem to apply to the ORAddress field of a GeneralName.