Comparing commonName with SAN should take internationalization into account

Currently when comparing the commonName with the SAN field and it's using an international domain name in commonName, we're giving an error.  Section 7 of RFC5280 says how we should deal with this.

ASN1_STRING_cmpcase() should probably be replaced with something that uses StringPrep.